<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header"> 
        <a class="navbar-brand">스티치 기업용 관리자 페이지</a>
        <a class="navbar-brand-logout" href="/signout">로그아웃</a>
    </div>
    <!-- /.navbar-header -->

    <div class="sidebar sidebar-nav">
            <ul class="nav" id="side-menu" ">
                <li><a href="/dashboard">대쉬보드</a></li>
                <li>
                    <a href="#">학생 관리<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/student/joined">학생 목록</a></li>
                        <li> <a href="/student/registration">신규 학생 등록</a></li>
                        <li><a href="/student/retired">퇴원 학생 관리</a></li>
                    </ul>
                <!-- /.nav-second-level -->
                </li>
                <li><a href="/assignment">매칭 관리</a></li>
                <li>
                    <a href="#">선생님 관리<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="/teacher/joined">선생님 목록</a></li>
                        <li><a href="/teacher/waiting">승인대기중 선생님</a></li>
                    </ul>
                <!-- /.nav-second-level -->
                </li>
            </ul>
    </div>
  
<!-- /.navbar-static-side -->
</nav>